<div class="form">
    
    <h3>PERFIL</h3>
    
   <small class="text-muted" >Usuario</small>
    <input type="text" placeholder= {{usuario.username}} readonly="readonly"/> 
    <small class="text-muted" >Nombre</small>
    <input type="text" placeholder= {{usuario.name}} readonly="readonly"/> 
    <small class="text-muted" >Apellido</small>
    <input type="text" placeholder= {{usuario.lastname}} readonly="readonly"/> 
    <small class="text-muted" >Correo Electronico</small>
    <input type="text" placeholder= {{usuario.email}} readonly="readonly"/> 
    <small class="text-muted" >Genero</small>
    <input type="text" placeholder= {{usuario.gender}} readonly="readonly"/> 
    <small class="text-muted" >Ciudad</small>
    <input type="text" placeholder= {{usuario.city}} readonly="readonly"/> 

<!--
    <button class="btn btn-danger" (click)="modificar()">Modificar</button>
 -->
</div>
