<div class="content">
    <h4 class="text-muted mb-4">{{title}}</h4>

    <div class="row mb-4">

        <div class="col-md-12">
            <div class="card border-0 rounded-0">
                <div class="card-body">
                    <div class="table-responsive-md">
                        <table class="table table-hover">
                            <thead>
                                <tr>
                                    <th id="name" scope="col">Nombre</th>
                                    <th id="lastname" scope="col">Apellido</th>
                                    <th id="email" scope="col">Correo</th>
                                    <th id="gender" scope="col">Genero</th>
                                    <th id="city" scope="col">Ciudad</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let user of getUsersData()">
                                    <td id="name">{{user.name}}</td>
                                    <td id="lastname">{{user.lastname}}</td>
                                    <td id="email">{{user.email}}</td>
                                    <td id="gender">{{user.gender}}</td>
                                    <td id="city">{{user.city}}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>

                </div>
            </div>

        </div>
    </div>
</div>